@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #b42b51;
  --bg-color: #eef0f1;
  --white-color: #fff;
  --border-color: #d7d9d9;
  --title-color: #08090a;
  --text-color: #3d3d3d;
  --hover-primary-color: #7d1935;
  --radius: 5px;
  --shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
  --border: 1px solid --border-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
  letter-spacing: 1px;
  padding: 16px;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.util {
  background-color: var(--white-color);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 16px;
}

.title-1 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--title-color);
}
.title-2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}

.btn {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 16px 0;
  border-radius: var(--radius);
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: #7d1935;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
